<section class="impression background-headlight">
  <a name="impressions" style="position: relative; top: 25px;"></a>

  <div class="pad">
    <h2>
      <div class="mid">
        {{{i18n "impression.leobard"}}}
      </div>
    </h2>
  </div>
</section>

<section class="impression background-park">
  <div class="pad">
    <h2>
      <div class="mid">
        {{{i18n "impression.knizz"}}}
      </div>
    </h2>
  </div>
</section>

<section class="impression background-nuclear">
  <div class="pad">
    <h2>
      <div class="mid">
        {{{i18n "impression.soziomorph"}}}
      </div>
    </h2>
  </div>
</section>

<section class="impression background-chaser">
  <div class="pad">
    <h2>
      <div class="mid">
        {{{i18n "impression.ovos"}}}
      </div>
    </h2>
  </div>
</section>